{
  "name" : "zstd ",
  "files" : [
    "lib/common/debug.c",
    "lib/common/entropy_common.c",
    "lib/common/error_private.c",
    "lib/common/fse_decompress.c",
    "lib/common/pool.c",
    "lib/common/threading.c",
    "lib/common/xxhash.c",
    "lib/common/zstd_common.c",
    "lib/compress/fse_compress.c",
    "lib/compress/hist.c",
    "lib/compress/huf_compress.c",
    "lib/compress/zstd_compress.c",
    "lib/compress/zstd_compress_literals.c",
    "lib/compress/zstd_compress_sequences.c",
    "lib/compress/zstd_double_fast.c",
    "lib/compress/zstd_fast.c",
    "lib/compress/zstd_lazy.c",
    "lib/compress/zstd_ldm.c",
    "lib/compress/zstd_opt.c",
    "lib/compress/zstdmt_compress.c",
    "lib/decompress/huf_decompress.c",
    "lib/decompress/zstd_ddict.c",
    "lib/decompress/zstd_decompress.c",
    "lib/decompress/zstd_decompress_block.c",
    "lib/deprecated/zbuff_common.c",
    "lib/deprecated/zbuff_compress.c",
    "lib/deprecated/zbuff_decompress.c",
    "lib/dictBuilder/cover.c",
    "lib/dictBuilder/divsufsort.c",
    "lib/dictBuilder/fastcover.c",
    "lib/dictBuilder/zdict.c",
    "lib/legacy/zstd_v05.c",
    "lib/legacy/zstd_v06.c",
    "lib/legacy/zstd_v07.c",
    "programs/zstdcli.c",
    "programs/util.c",
    "programs/timefn.c",
    "programs/fileio.c",
    "programs/benchfn.c",
    "programs/benchzstd.c",
    "programs/datagen.c",
    "programs/dibio.c",
    ".tis/stubs/my-stubs.c"  ],
  "main" : "main",
  "compilation_cmd" : "-DBACKTRACE_ENABLE=0 -Iprograms/../lib -Iprograms/../lib/common -Iprograms/../lib/compress -Iprograms/../lib/dictBuilder -DXXH_NAMESPACE=ZSTD_ -Iprograms/../lib/legacy -DZSTD_MULTITHREAD -DZSTD_GZCOMPRESS -DZSTD_GZDECOMPRESS -DZSTD_LEGACY_SUPPORT=5  -I.tis/stubs",
  "machdep" : "gcc_x86_64"
}
